<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../static/css/style1.css">

  </head>
  <body>
    <div class="container">
      <form class="my_form" action="process" method="post">
        <label for="email">e-mail:</label>
        <input id="email" type="email" name="email" placeholder="e-mail">

        <label for="f_name">First Name:</label>
        <input id="f_name" type="text" name="f_name" placeholder="First Name">

        <label for="l_name">Last Name:</label>
        <input id="l_name" type="text" name="l_name" placeholder="Last Name">

        <label for="pwd">Password:</label>
        <input id="pwd" type="password" name="pwd" placeholder="Password">

        <label for="confirm_pwd">Confirm Password:</label>
        <input id="confirm_pwd" type="password" name="confirm_pwd" placeholder="Confirm Pwd">

        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
