<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Username Validator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/username_valid/css/style1.css' %}">
  </head>
  <body>
    <div class="container">
      <form class="user_form" action="/create" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input id="username" class="input_fields" type="text" name="username" placeholder="Username">
        <input class="submit_but" type="submit" value="Submit">
      </form>

      {% if messages %}
        {% for msg in messages %}
          <p class="error_msg">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>
