<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
</head>
<body>
	<h1>Hi, I'm Briana.</h1>
	<h2>Welcome to my portfolio!</h2>
	<div class=container>
		<div class = projects>
			<a href="/projects">Projects</a>
			I have projects. 
		</div>
		<div class = about_me>
			<a href="/about_me">About Me</a>
			I have done things. I am doing things. I will do things. 
		</div>
		<div class = testimonials>
			<a href="/testimonials">Testimonials</a>
			People have said things about me, probably not all good.  
		</div>
	</div> 
</body>
</html>