<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets | Secrets</title>
	{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static '/dojo_secrets/css/style1.css' %}">
</head>
<body>
	<div class="container">
		<h2>Hello, {{ current_user.first_name }}.</h2>
		<form action="/posts" method="post">
			{% csrf_token %}
			<textarea name="post" rows="5" cols="50"></textarea>
			<input type="submit" value="Post">
		</form>

		<form action="/logout" method="post">
			{% csrf_token %}
			<input type="submit" value="Logout">
		</form>

		{% if messages %}
			{% for msg in messages %}
				<p class="flash_msg">{{ msg }}</p>
			{% endfor %}
		{% endif %}

		{% for post in posts %}
			<p>{{ post.post }}</p>
		{% endfor %}

	</div>
</body>
</html>
