<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets | Secrets</title>
	{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static '/dojo_secrets/css/style1.css' %}">
</head>
<body>
	<div class="container">
		<h2>Hello, {{ current_user.first_name }}.</h2>
		<form action="/posts" method="post">
			{% csrf_token %}
			<textarea name="post" rows="5" cols="50"></textarea>
			<input type="submit" value="Post">
		</form>
		<a href="/secrets/popular">Most Popular Secrets</a>

		<form action="/logout" method="post">
			{% csrf_token %}
			<input type="submit" value="Logout">
		</form>

		{% if messages %}
			{% for msg in messages %}
				<p class="flash_msg">{{ msg }}</p>
			{% endfor %}
		{% endif %}

		<h2>Recent Secrets...</h2>
		{% for post in posts %}
			<p>{{ post.post }} ({{ post.created_at|timesince:current_datetime }} ago), {{ post.likes.all | length }} like(s) <a href="posts/likes/{{ post.id }}">Like</a></p>

			{% if current_user.id == post.user.id %}
				<p>You posted this. <a href="/posts/delete/{{ post.id }}">Delete</a></p>
			{% endif %}

			{% if post.id in liked_post_ids %}
				<p>You liked this.</p>
			{% endif %}

		{% endfor %}

	</div>
</body>
</html>
