<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
</head>
<body>
	<h1>Welcome, {{user.first_name}}</h1>
	<a href="/books/new">Add Book and Review</a>
	<a href="/logout">Logout</a>
	<h2>Recent Book Reviews:</h2>
	{% for book in books%}
		<a href="/book/id"><p>{{review.book.title}}</p></a>
		<p>{{rating}}</p>
		<a href="/user/id"><p>{{review.user}}</p>{{review.review}}</p>
		<p>{{reviews.created_at}}</p>
	{%endfor%}

	<h2>Other Books with Reviews</h2>
	<div>
	Add links for books with reviews
	</div>	
</body>
</html>
